<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toy SF Oauth - Results</title>
</head>
<body>

<p>
    The callback query string included:
    <ul>
        <li> The state we provided on the first page (usually used for tracking sessions
            ): <br /> <pre>{{ state }}</pre></li>
        <li> The code we need to exchange for a access token in the back-channel: <br />
            <pre>{{ code }}</pre></li>
    </ul>
</p>
<p>
    The server made the token request to Salesforce retrieving:
    <ul>
        <li> Instance url: <br /> <pre>{{ instance_url }}</pre></li>
        <li> Access token: <br /> <pre>{{ access_token }}</pre></li>
        <li> Refresh token: <br /> <pre>{{ refresh_token }}</pre></li>
        <li> SF User ID URL: <br /> <pre>{{ id }}</pre></li>
        <li> Token issue timestamp: <br /> <pre>{{ issued_at }}</pre></li>
    </ul>
Additional documentation about what those mean can be found
<a href="https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_understanding_web_server_oauth_flow.htm">here</a>,
but the TL;DR is that the <strong>access token</strong> can be used to gain access to
the logged in user's Salesforce data and the <strong>refresh token</strong> can be used
to generate additional access tokens.

</p>

</body>
</html>